SOUNDCHARTS_CLIENT_ID=your_soundcharts_client_id
SOUNDCHARTS_CLIENT_SECRET=your_soundcharts_client_secret

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_DB=stempo

PORT=8010
RELOAD=1
